{% extends 'base.html' %}

{% block head %}
<title> Home </title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<div>
    <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to Skid Blog</p> 
            <p>My Name is Shreedhar Chavan.</p> 
            <p> I am the creator of this website. You can visit my <a href='https://www.github.com/shreedhar37'>GitHub Account</a></p>
            <a class="btn btn-primary" href="/posts" role="button">Go To Posts »</a>
            
        </div>
    </div>
</div>

{% endblock%}