{% extends 'base.html' %}

{% block head %}
    <title> Posts </title>
{% endblock %}


{% block body %}
    <br>
    <h2>Create a New Blog Post:</h2>
    <br>
    <form action='/posts' method="POST">
        <label for="title">Title:</label>
            <br><br>
            <input class="form-control" type='text' name='title' id='title' placeholder="All about Web Developement!!" required>
        <br>
        
        <label for="author">Author:</label>
            <br><br>
            <input class="form-control" type='text' name='author' id='author' placeholder="Shreedhar Chavan" required>
        <br> 
        
        <label for="content">Post:</label>
            <br><br>
            <textarea class="form-control" id="content" name='content' rows="5" placeholder="Web developement in 2021 has become ..." required></textarea>
        <br>
        
        <input class="btn btn-success" type='submit' value='Post'>
    </form>
    <br>

<h1>All Posts</h1>
    <hr>
    {% for post in posts %}
    <br>
        <h3> {{post.title}} </h3>
        
        {% if post.author %}
            <small><i> Written by {{post.author}} on {{post.date_posted}} </i></small>
        {% else %}
            <small><i> Written by Unknown on {{post.date_posted}}</i> </small>
        {% endif %}
        <br><br>
        <pre>{{post.content}} </pre>
        <a class='btn btn-primary' href='/posts/edit/{{post.id}}'>Edit</a>      
        <a class='btn btn-danger' href='/posts/delete/{{post.id}}'>Delete</a>
        <br><br>
        <hr>
    {% endfor %}
    

{% endblock%}